*.Identifier
*.code-workspace
*.gz
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
.DS_Store
.idea
.idea*
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.yardoc/
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
Notepad++/
RUNNING_PID
__MACOSX
__pycache__/
_build/
_package/
_site/
node_modules/
out/
package/
~*
Gemfile.lock
spec/status_persistence.txt
